<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
        <script type="text/javascript">
            {% block js %}{% endblock %}
        </script>
    </head>
    <body>
        <header>
            Seja bem-vindo, {{logado['nome']}}!
        </header>
        {% block conteudo %}{% endblock %}
    </body>
</html>