{% extends "base.html" %}
{% block titulo %}Séries{% endblock %}
{% block conteudo %}
    <h1>Séries:</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Número</td>
            <td>Turma</td>
        </tr>
        {% for serie in series %}
            <tr>
                <td>{{serie['id_serie']}}</td>
                <td>{{serie['numero']}}</td>
                <td>{{serie['turma']}}</td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="/">Voltar</a></p>
{% endblock %}